:root{
    --color1: #111;
    --color2: purple;
    --color3: #777;
    --color4: #fff;
}



*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */
header{
    background-color: var(--color1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--color2);
    position: sticky;
    top: 0;
}
header h1{
    color: var(--color2);
    font-style: italic;
}
nav{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
nav a{
    color: var(--color2);
    text-decoration: none;
    padding: 0 10px;
}
nav a:hover{
    color: var(--color4);
    transition: all 0.7s ease;
}

/* Main */
main{
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding:  8% 10%;
    align-items: center;
    line-height: 200%;
    font-size: x-large;
}
main h1{
    color: var(--color2);
}
main h3{
    color: var(--color3);
}
main button{
    padding: 10px;
    background-color: var(--color2);
    color: var(--color1);
    font-size: medium;
    border: 2px solid var(--color2);
    transition: all 1s ease;
}
main button:hover{
    background-color: var(--color1);
    color: var(--color3);
}
main img{
    width: 280px;
    border: 7px solid var(--color2);
    border-radius: 50%;
}

/* Projects */
#projects{
    display: none;
    width: 70%;
    position: fixed;
    top: 25%;
    left: 15%;
    background-color: var(--color1);
    border: 10px solid var(--color2);
    word-wrap: break-word;
}
#close{
    background-color: var(--color3);
    border: 2px solid;
    position: absolute;
    right: 0;
    padding: 5px;
}
#close:hover{
    background-color: red;
}
.inner{
    margin: 5%;
    color: var(--color2);
}
.inner hr{
    border-color: var(--color2);
}
.inner a{
    color: var(--color3);
}
.inner a:hover{
    color: var(--color4);
}

/* Go to Top */
.top{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.top button{
    width: 50px;
    height: 50px;
    border: 2px solid var(--color2);
    border-radius: 50%;
    background-color: var(--color1);
}
.top a{
    font-size: 25px;
    color: var(--color2);
}

/* Themes */
.themes{
    position: fixed;
    bottom: 15px;
    left: 15px;
}
#toogle-themes{
    display: none;
}
.themes-btn{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    color: var(--color2);
    background-color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 50%;
}
.themes-btn:hover{
    transition: all 2s ease;
    background-color: var(--color2);
    color: var(--color1);
}
.theme-colors{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    color: var(--color2);
    background-color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 50%;
}
.tc-maroon{
    background-color: maroon;
}
.tc-teal{
    background-color: teal;
}
.tc-royalblue{
    background-color: royalblue;
}
.tc-purple{
    background-color: purple;
}

/* Skills */
.skills-body{
    border-top: 3px solid var(--color2);
    background-color: var(--color1);
    padding: 20px;
    color: var(--color2);
}
.skills{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
.sbox{
    background-color: var(--color2);
    height: 300px;
    width: 200px;
    border: 2px solid var(--color3);
}
.sbox h2{
    background-color: var(--color1);
    color: var(--color3);
    text-align: center;
}

/* Certificates */
.certificates-body{
    border-top: 3px solid var(--color2);
    background-color: var(--color1);
    padding: 20px;
    color: var(--color2);
}
.certificates{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
.cbox{
    background-color: var(--color1);
    height: 200px;
    width: 300px;
    border: 2px solid var(--color3);
    text-align: center;
    line-height: 40px;
}
.cbox h2{
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
}

/* Education */
.education-body{
    background-color: var(--color2);
    color: var(--color1);
    padding: 20px;
    list-style: square;
}
.education-body h3{
    color: var(--color1);
    padding: 20px;
    line-height: 30px;
}

/* Footer */
footer{
    background-color: var(--color1);
    color: var(--color3);
    padding: 40px;
    text-align: center;
}
footer span{
    color: var(--color2);
}

/* CSS for Mobile */
@media screen and (max-width: 600px) {
    header{
        display: block;
        padding: 0;
        text-align: center;
    }
    header h1{
        padding: 20px;
    }
    nav{
        justify-content: space-between;
        border-top: 3px solid var(--color2);
        font-size: small;
    }
    nav a{
        color: var(--color2);
        padding: 0;
        font-weight: bold;
    }
    .skills{
        justify-content: center;
    }
    .certificates{
        justify-content: center;
    }
}