*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    color: white;
}
p{
    color: white;
}
body{
    background-color: black;
}
hr{
    height: 10px;
    background-color: #222;
    border: black;
}

.welcome{
    background: url(./img/bgimg.jpg);    
}
header{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.full-logo{
    width: 150px;
    height: 40px;
}
.lang{
    background-color: rgb(50, 50, 50);
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
}
.sign-in{
    background-color: red;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
main{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 180px 40px;
    text-align: center;
    color: white;
    font-size: x-large;
    line-height: 2;
}
.email{
    background-color: rgba(50, 50, 50, 0.5);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
    color: white;
    font-size: larger;
}
.get-started{
    background-color: red;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: larger;
}


.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.box .text{
    line-height: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box .text img{
    width: 100%;
}


.ques{
    text-align: center;
    padding: 60px 150px;
    color: white;
}
.ques h1{
    padding: 20px;
}
.ques p{
    font-size: 20px;
    padding: 10px;
}
.ques button{
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
}
.ques button:hover{
    background-color: #444;
}
.ques button .left{
    font-size: 25px;
}
.ques button .right{
    font-size: 50px;
}
.ques .email{
    display: inline;
    font-size: 30px;
}
.ques .get-started{
    background-color: red;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: larger;
    width: unset;
    display: inline;
    font-size: 30px;
}
.ques .get-started:hover{
    background-color: red;
}
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px;
    color: darkgrey;
    font-size: 15px;
}
footer .items li{
    text-decoration: underline;
}
footer .items .noline{
    text-decoration: none;
}
footer .items{
    line-height: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .lang{
    font-size: 15px;
    padding: 10px;
    margin: 10px 0;
}
footer .hide{
    visibility: hidden;
}

@media screen and (max-width: 700px) {
    h1{
        font-size: 40px;
    }
    header{
        padding: 20px;
    }
    .full-logo{
        width: 100px;
        height: 30px;
    }
    .lang{
        padding: 7px;
    }
    .sign-in{
        padding: 7px;
    }
    main{
        padding: 20px;
        line-height: 1.5;
        font-size: small;
    }
    .email{
        width: 80%;
        padding: 10px;
        margin: 10px;
    }
    .get-started{
        padding: 10px;
    }

    .box .text{
        width: 100%;
        padding: 20px;
    }
    .box .text img{
        width: 100%;
    }

    .ques{
        padding: 20px;
    }
    .ques button{
        padding: 10px;
    }
    .ques button .left{
        font-size: 15px;
        padding: 10px;
    }
    .ques button .right{
        font-size: 20px;
    }
    .ques .email{
        font-size: 20px;
    }
    .ques .get-started{
        font-size: medium;
        padding: 10px;
    }
    footer{
        padding: 20px;
    }
    footer .items{
        line-height: 1.5;
    }
}