body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

h1 {
  font-size: 60px;
}
h1 span {
  font-size: 15px;
  background-color: white;
  color: black;
  padding: 5px;
  text-wrap: nowrap;
}
.step-4 h3 {
  font-size: 40px;
  background-color: white;
  color: black;
  padding: 5px;
}
.start-btn {
  background-color: black;
  border: 2px solid white;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px white;
}
.start-btn:hover {
  background-color: white;
  color: black;
}
input {
  background-color: black;
  border: 2px solid grey;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio {
  display: inline;
  margin: 5px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid grey;
  color: white;
}

button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.steps {
  border: 1px solid white;
  padding: 40px 20px;
  margin: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 455px) {
  .radio {
    display: flex;
  }
}
